/*background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255));
*/

header{
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-around;
    place-items: center;
    background: white;
}

.header-title h1{
    font-size: 30px;
    font-weight: 400;
}

/* Items para el Menu */
.container-nav-menu{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    z-index: 1;
    text-align: center;
    display: none;
}

.nav-menu{
    display: flex;
    margin: 20px;
    margin-top: 40px;
}

.nav-menu li{
    padding: 10px;
    text-align: left;
}

.nav-menu span{
    font-weight: bold;
    cursor: pointer;
}

.option-nav{
    margin: 20px;
}

.nav-menu-items{
    margin-left: -10px;
    margin-top: 10px;
}

.menu-icon-header{
    cursor: pointer;
    padding: 10px;
}

.menu-header:hover .container-nav-menu{
    display: block;
}


/* Items de Cuenta */
.header-items ul{
    display: flex;
}

.header-items ul li{
    margin: 10px;
}


/* Imagen del Banner */
.img-banner{
    position: relative;
    width: 100%;  
    height: 500px; 

}

.img-banner img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top center;
}


@media screen and (max-width: 620px){

    .img-banner img{
        height: auto;
    }

    .items-show{
        margin-top: 20px;
        flex-direction: column;
    }

    .nav-menu{
        flex-direction: column;
        margin-top: 15px;
    }

    .nav-menu-items{
        position: absolute;
        left: 13rem;
        top: 1.8rem;
        opacity: 0;
        visibility: hidden;
        transition:opacity 200ms ease-in-out;
    }
    
    .option-nav{
        margin-bottom: 0px;
    }

    .option-nav:hover .nav-menu-items{
        opacity: 1;
        visibility: visible;
    }


}