.bg-content-form{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.794);
    z-index: 1;
    display: none;
    cursor: pointer;
}

.content-form{
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 400px;
    height: 85vh;
    right: -600px;
    transition: all 300ms;
}

.content-login{
    width: 100%;
    text-align: center;
}

.content-form h1{
    font-weight: 100;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}

.content-form h4{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    margin-top: 50px;
}

.content-form h4 a{
    color: blue;
}

.content-form form{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    
}

/* Style Emial */

.content-form #email{
    width: 70%;
    padding: 10px;
    border-style: none;
    outline: 0px;
    border-bottom: 1px solid silver;
    margin-top: 40px;
}

.content-form #email:focus{
    border-bottom: 2px solid blue;
    transition: all 300ms;
    -webkit-transition: all 300ms;
}

/* Style Password */

.content-form #password{

    width: 70%;
    padding: 10px;
    border-style: none;
    outline: 0px;
    border-bottom: 1px solid silver;
    margin-top: 30px;
}

.content-form #password:focus{

    border-bottom: 2px solid blue;
    transition: all 300ms;
    -webkit-transition: all 300ms;
}

::-webkit-input-placeholder{

    font-size: 20px;
}

input[type="email"], input[type="password"]{

    font-size: 20px;
}

/* Olvido de Password */

.content-options{
    width: 100%;
    margin-top: 45px;
}

.content-options a{
    color: blue;
}

/* Boton Inicio de Sesion */

input[type="submit"]{

    width: 70%;
    padding: 7px 40px;
    font-size: 18px;
    background: rgb(66, 66, 161);
    color: white;
    border-style: none;
    border-radius: 3px;
    margin-top: 60px;
    font-weight: 100;
    cursor: pointer;
    transition: all 300ms;
}


input[type="submit"]:active{

    background: rgba(77, 77, 143, 0.438);
    transition: all 300ms;
    -webkit-transition: all 300ms;
    outline-style: 0px;
}

#btn-cerrar-login{
    padding: 5px;
    font-weight: bold;
    margin-top: 15px;
    display: none;
}

/* RESPONSIVE */


@media screen and (max-width: 520px){

    .content-form #email{
        margin-top: 25px;
    }

    input[type="submit"]{
        margin-top: 25px;
    }

    #btn-cerrar-login{
        display: block;
    }
}


