.container-cards{
    width: 95%;
    margin-top: 130px;
    text-align: center;
}
.cards{
    height: 410px;
    box-shadow:0px 13px 21px -5px rgba(104, 104, 104, 0.176);
    text-align: center;
}

#cards-colection{
    margin: 30px;
}

.container-cards-img{
    display: flex;
    overflow: hidden;
}

.cards a img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    animation: fade 0.6s;
}

.img-back{
    display: none;
}

.container-cards-img:hover .img-back{
    display: block;
}

.container-cards-img:hover .img-front{
    display: none;
}


.cards h3{
    margin-top: 10px;
    font-size: 16px;
    color: rgb(67, 67, 67);
}

.cards span img{
    width: 24px;
    height: 24px;
}

.options-cards{
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    justify-content: space-around;

}

.options-cards p{
    display: none;
    width: 50%;
    padding: 2px;
    transition: all 300ms;
}

.cards:hover .options-cards p{
    display: block;
    cursor: pointer;
}

.slider-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 30px auto 10px auto;
    padding: 0px 10px;
}

.slider-btn button{
    position: static !important;
}


@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 620px){

    .container-cards{
        margin-top: -100px;
    }

    .options-cards p{
        display: block;
    }
}